.App {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    color: rgb(20, 37, 53);
    font-size: 1.5rem;
    background-image: linear-gradient(rgb(211, 37, 37), white);
}

.addButton {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    background-color: #e5cac8;
    border-color: #000000;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 2%;
    cursor: grab;
}

form {
    text-align: center;
    background-color: rgb(215, 96, 96);
    padding: 1rem;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.show {
    text-align: center;
    background-color: rgb(234, 149, 149);
    width: 80%;
    margin-left: 10%;
    border-radius: 5%;
    padding: 1rem;
}

textarea {
    max-width: 85%;
}

.reviewButton {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #e5cac8;
    border-color: #000000;
    cursor: grab
}