header {
    display: flex;
    justify-content: center;
    color: rgb(20, 37, 53);
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgb(211, 37, 37), white);
}

